.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 20px; */
    /* padding: 20px; */
}

.about img {
    min-width: 150px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px #D4F2F2;
    margin-top: 5%;
    
}

.about div {
    /* margin-left: 10%; */
    margin-top: 5%;
    padding: 5px;
    text-align: justify;
    width: 500px;
    min-width: 100px;
}

.about h2 {
    text-decoration: underline 3px #0F3333;
    margin-bottom: 15px;
}

.h2 {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 5%;

}

.soft{    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.soft button {
    padding: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
    background-color: #E6E6E6;
    color: #080808;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 5px 2px #D4F2F2;
}

