.navBar, .navBar span, .navBar div button {
    /* position: absolute; */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    left: 0;
    right: 0;
    text-align: center;
    @media (min-width: 768px) {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        margin-left: 0;
        margin-right: 0;
    }
}

.navBar span a {
    font-weight: normal;
    text-decoration: none;
    transition: all .2s;
}

.navBar span a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #C53F3F;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .25s;
    
}
  
.navBar span a:hover::after {
    transform: scale(1.1);
}

.navBar span a.selected::after {
    transform: scale(1.1);
}

.music {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    /* padding-right: 180px; */
}

.music span img {
    transition: all .2s;
}

.music span img:hover {
    transform: scale(1.1);
    cursor: pointer;
}


.navBar_fixed {
    position: fixed;
    width: 97%;
    background-color: #080808; 
    z-index: 1000;
    @media (max-width: 768px) {
        position:relative;
    }
}

.navBar div button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 200px; */
    border: none;
    font-size: medium;
    white-space: nowrap;
    transition: all .2s;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.navBar div button:hover {
    color: #C53F3F;
    cursor: pointer;
}

.burguer {
    @media (min-width: 768px) {
        display: none;
    }
}